<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kindergardenmanager">

    <application
        android:name=".KindergardenApplication"
        android:allowBackup="true"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.KindergardenManager">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activity.LoginActivity"
            android:exported="false" />
            
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity" />
        </activity>
            
        <activity
            android:name=".ui.activity.AdminDashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity" />
        </activity>
            
        <activity
            android:name=".ui.activity.TeacherDashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity" />
        </activity>
            
        <activity
            android:name=".ui.activity.ParentDashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity" />
        </activity>
            
        <activity
            android:name=".ui.activity.KitchenStaffDashboardActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.LoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.LoginActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ViewUsersActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AdminDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.AddUserActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AdminDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.AppSettingsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AdminDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.EditUserActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ViewUsersActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ViewUsersActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ViewClassesActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.TeacherDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.TeacherDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ClassDetailActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ViewClassesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ViewClassesActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ViewClassesForAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.TeacherDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.TeacherDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.TakeAttendanceActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ViewClassesForAttendanceActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ViewClassesForAttendanceActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ManageClassesActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AdminDashboardActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ClassDetailAdminActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ManageClassesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ManageClassesActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.AddEditClassActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.ManageClassesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.ManageClassesActivity" />
        </activity>
        
        <activity
            android:name=".ui.activity.ManageEnrollmentsActivity"
            android:exported="false"
            android:parentActivityName=".ui.activity.AdminDashboardActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.activity.AdminDashboardActivity" />
        </activity>
    </application>

</manifest>